@keyframes pulsate {
  0% {
    transform: scale(1);
    scale: 1;
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    scale: 1.05;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    scale: 1;
    box-shadow: none; } }

@keyframes move-left {
  0% {
    margin-left: 1rem; }
  50% {
    margin-left: 2rem; }
  100% {
    margin-left: 1rem; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

:root {
  --gray-1:#333333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --gray-5: #E0E0E0;
  --gray-4: #BDBDBD;
  --gray-6: #f2f2f2;
  --blue: #2D9CDB;
  --white: #FFFFFF;
  --green: #27Ae60;
  --red: #EB5757;
  --bg-footer: #100E1D; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden; }

::selection {
  background-color: #4F4F4F;
  color: #fff; }

.heading-primary {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 7.2rem;
  color: var(--gray-1); }

.paragraph {
  color: var(--gray-2);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  color: var(--gray-1); }
  .heading-secondary--sub {
    line-height: 5.6rem;
    width: 85%; }

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: var(--gray-1); }

.u-ml-md {
  margin-left: 27.7rem !important; }

.u-mr-hg {
  margin-right: 90.7rem !important; }

.u-mt-xs {
  margin-top: 4.2rem !important; }

.u-mb-xs {
  margin-bottom: 4.2rem !important; }

.u-mb-hg {
  margin-bottom: 40rem !important; }

.u-ml-shg {
  margin-left: 110rem !important; }

.u-mt-n-sm {
  margin-top: -.5rem !important; }

.cta-box {
  width: 25.6rem;
  height: 2.7rem; }
  .cta-box--sm {
    width: 17.2rem;
    height: 2.1rem;
    margin-bottom: .9rem; }

.cta, .cta:link, .cta:visited {
  display: inline-block;
  color: var(--blue);
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 500; }

.cta--sm, .cta--sm:link, .cta--sm:visited {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray-3); }

.button {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: var(--white);
  display: block;
  width: 9.2rem;
  height: 4.9rem;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  background-color: var(--blue);
  padding: 1rem 5rem;
  padding-left: 3rem;
  text-align: center;
  border-radius: 12px;
  cursor: pointer; }

.btn, .btn:link, .btn:visited {
  color: var(--blue);
  text-decoration: none; }

.btn--animate {
  width: 11.3rem;
  display: flex;
  align-items: center; }

.btn span {
  margin-left: 1rem;
  width: 1.6rem;
  height: .7rem;
  align-self: center;
  margin-top: -.6rem;
  transition: all .5s; }

.btn .material-icons.icon__sm {
  font-size: 1.4rem; }

.btn:focus > span {
  animation: move-left 1s infinite; }

.btn:focus {
  animation: pulsate 1s infinite; }

.card {
  padding: 4.6rem 3.4rem;
  height: 42.2rem;
  width: 34.1rem;
  cursor: pointer;
  backface-visibility: hidden;
  border-radius: 24px;
  transition: transform 1s cubic-bezier(0.61, 1, 0.88, 1); }
  .card:hover {
    backface-visibility: hidden;
    transform: scaleX(1.03) scaleY(1.05);
    box-shadow: 0 1rem 3rem rgba(51, 51, 51, 0.2); }
  .card:hover * .card__btn {
    background-color: var(--blue);
    color: var(--white); }
  .card__icon {
    width: 6.7rem;
    height: 6.7rem;
    padding: 2.05rem 1.95rem;
    border-radius: 16px;
    backface-visibility: hidden; }
    .card__icon--green {
      background-color: var(--green); }
    .card__icon--blue {
      background-color: var(--blue); }
    .card__icon--red {
      background-color: var(--red); }
    .card__icon--white {
      color: var(--white); }
    .card__icon--size {
      font-size: 3rem !important; }
  .card__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    backface-visibility: hidden; }
  .card__header {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
    height: 3.6rem;
    color: var(--gray-1);
    margin-top: 3.5rem;
    margin-bottom: 2.4rem;
    backface-visibility: hidden; }
  .card__paragraph {
    color: var(--gray-2);
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
    backface-visibility: hidden; }
  .card__btn, .card__btn:link, .card__btn:visited {
    padding: 1.3rem .9rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: var(--gray-3);
    display: inline-block;
    text-decoration: none;
    width: 11.6rem;
    border-radius: 12px;
    background-color: var(--gray-5);
    backface-visibility: hidden;
    text-align: center;
    transition: transform 1s cubic-bezier(0.61, 1, 0.88, 1); }

.hero {
  border-radius: 1.8rem;
  overflow: hidden; }
  .hero__image {
    display: block;
    width: 100%;
    object-fit: cover; }

.gallery {
  backface-visibility: hidden; }
  .gallery__header {
    width: 44.8rem;
    backface-visibility: hidden; }
  .gallery__box {
    backface-visibility: hidden;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.32, 0, 0.67, 0); }
    .gallery__box--1 {
      margin-top: 18.8rem; }
    .gallery__box--3 {
      margin-top: 10.6rem; }
    .gallery__box--4 {
      margin-top: -2rem; }
    .gallery__box:hover {
      transform: scaleX(1.03) scaleY(1.03); }
  .gallery__image-box {
    backface-visibility: hidden;
    width: 54.5rem;
    height: 54.5rem;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer; }
  .gallery__image {
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: block; }
  .gallery__info {
    margin-top: 2rem;
    backface-visibility: hidden; }
  .gallery__text {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--gray-3);
    line-height: 2.1rem;
    backface-visibility: hidden; }

.form {
  width: 35rem;
  height: 5.7rem; }
  .form__label {
    display: none; }
  .form-group {
    width: 100%;
    height: 100%;
    position: relative; }
  .form__input {
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--gray-6);
    font-family: inherit;
    font-size: 1.8rem;
    border-radius: 12px;
    color: var(--gray-1);
    padding: 1.5rem 2.1rem;
    border: 1px solid var(--gray-6);
    outline: none; }
    .form__input:focus {
      outline: none;
      border: 1px solid var(--gray-6); }

::-webkit-input-placeholder {
  color: var(--gray-4); }

.logo {
  font-size: 3.6rem;
  color: var(--gray-1);
  width: 100%;
  height: 100%; }

.container-fluid {
  width: 100%;
  padding-right: 5.6rem;
  padding-left: 5.2rem;
  margin-right: auto;
  margin-left: auto;
  height: 100%; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.5rem;
  width: 100%; }
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 114rem; } }

.row {
  display: flex;
  margin-right: -5.6rem;
  margin-left: -5.2rem;
  flex-wrap: wrap; }
  .row [class^="col-"] {
    width: 100%;
    position: relative;
    padding-right: 5.6rem;
    padding-left: 5.2rem; }
  @media only screen and (min-width: 48em) {
    .row .col-1-of-1 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media only screen and (min-width: 48em) {
    .row .col-1-of-2 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media only screen and (min-width: 48em) {
    .row .col-1-of-3 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  @media only screen and (min-width: 48em) {
    .row .col-1-of-4 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media only screen and (min-width: 48em) {
    .row .col-1-of-5 {
      flex: 0 0 20%;
      max-width: 20%; } }
  .row .col-2-of-3 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .row .col-3-of-4 {
    flex: 0 0 75%;
    max-width: 75%; }
  .row .col-2-of-5 {
    flex: 0 0 40%;
    max-width: 40%; }
  .row .col-3-of-5 {
    flex: 0 0 60%;
    max-width: 60%; }
  .row .col-4-of-5 {
    flex: 0 0 80%;
    max-width: 80%; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center; }

.logo-box {
  margin-top: 4.2rem;
  width: 7rem;
  height: 5.3rem;
  cursor: pointer; }

.header-navigation {
  list-style-type: none;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  line-height: 3.6rem;
  align-self: flex-start;
  height: 3.6rem;
  margin-top: 5.1rem; }
  .header-navigation__list {
    height: 100%; }
    .header-navigation__list:not(:last-child) {
      margin-right: 2rem; }
  .header-navigation__link, .header-navigation__link:link, .header-navigation__link:visited {
    display: inline-block;
    padding: 0rem 1.5rem;
    height: 100%;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--gray-1);
    text-transform: capitalize; }

.modified--link-padding-right, .modified--link-padding-right:link, .modified--link-padding-right:visited {
  padding-right: 0rem; }

.modified--link-padding-left, .modified--link-padding-left:link, .modified--link-padding-left:visited {
  padding-left: 0rem; }

.section-about {
  margin-top: 10.4rem; }

.text {
  width: 54.3rem;
  height: 14.4rem; }

.main {
  width: 36.6rem;
  height: 14.1rem; }

.section-works {
  margin-top: 20rem; }

.box {
  width: 34.6rem;
  height: 10.8rem; }

.section-gallery {
  margin-top: 19.4rem; }

.section-team {
  margin-top: 35.2rem; }
