.section-about {
      margin-top: 10.4rem;
}

.text {
      width: 54.3rem;
      height: 14.4rem;
}

.main {
      width: 36.6rem;
      height: 14.1rem;
}
.section-works {
      margin-top: 20rem;
}

.box {
      width: 34.6rem;
      height: 10.8rem;
}

.section-gallery {
      margin-top: 19.4rem;
}