.container-fluid {
      width: 100%;
      padding-right: 5.6rem;
      padding-left: 5.2rem;
      margin-right: auto;
      margin-left: auto;
      height: 100%;
}

.container {
      margin-right: auto;
      margin-left: auto;
      padding: 0 1.5rem;
      width: 100%;

      @media only screen and (min-width:1200px) {
            max-width: 114rem;
      }
}

.row{
      display: flex;
      // width: 100%;
      margin-right: -5.6rem;
      margin-left: -5.2rem;
      flex-wrap: wrap;


      [class ^= "col-"] {
            width: 100%;
            position: relative;
            padding-right: 5.6rem;
            padding-left: 5.2rem;
    
        }

        .col-1-of-1 {

            @media only screen and (min-width: 48em) {
                  flex:0 0 100%;
                  max-width: 100%;
            }
        }

        .col-1-of-2 {
              
            @media only screen and (min-width: 48em) {
                  flex:0 0 50%;
                  max-width: 50%;

            }
        }

        .col-1-of-3 {
              @media only screen and (min-width:48em) {
                    flex: 0 0 33.33333%;
                    max-width: 33.33333%;
              }
        }
        .col-1-of-4 {
              @media only screen and (min-width:48em) {
                    flex: 0 0 25%;
                    max-width: 25%;
              }
        }

        .col-1-of-5 {
              @media only screen and (min-width: 48em) {
                    flex: 0 0 20%;
                    max-width: 20%;
              }
        }

        .col-2-of-3 {
              flex: 0 0 66.66667%;
              max-width: 66.66667%;
        }

        .col-3-of-4 {
              flex: 0 0 75%;
              max-width: 75%;
        }

        .col-2-of-5 {
              flex: 0 0 40%;
              max-width: 40%;
        }

        .col-3-of-5 {
            flex: 0 0 60%;
            max-width: 60%;
        }

        .col-4-of-5 {
              flex: 0 0 80%;
              max-width: 80%;
        }
      
}

