.header {

      display: flex;
      align-items: center;
      justify-content: space-between;
      justify-items: center;
}

.logo-box {
      margin-top: 4.2rem;
      width: 7rem;
      height: 5.3rem;
      cursor: pointer;
}