.header-navigation {
      list-style-type: none;
      display: flex;

      justify-items: center;
      align-items: flex-start;

      line-height: 3.6rem;

      align-self: flex-start;

      height: 3.6rem;

      margin-top: 5.1rem;


      @include responsive (no-desktop) {
            display: none;
      }


      &__list {
           
            height: 100%;
           
            &:not(:last-child) {
                  margin-right: 2rem;

            }

      }

      &__link {

            &,
            &:link,
            &:visited{
                  display: inline-block;
                  padding: 0rem 1.5rem;
                  height: 100%;
                  text-decoration: none;
                  font-size: 1.8rem;
                  font-weight: $fw-medium;

                  color: var(--gray-1);

                  text-transform: capitalize;


            }
      }
}

.navbar__toggle  {
      display: none;

      @include responsive (no-desktop ) {
            display: block;

            margin-top: 1.9rem;
            cursor: pointer;
      }
}

.modified--link-padding-right {

      &,
      &:link,
      &:visited {
            padding-right: 0rem;
      }

}
.modified--link-padding-left {
      &,
      &:link,
      &:visited {
            padding-left: 0rem;
      }
}


.footer {

      @include responsive (no-desktop) {
            padding-bottom: 15rem;
      }

      @mixin link {
            font-size: 1.8rem;
            line-height: 3.6rem;
            font-weight: 400;
            text-decoration: none;
            color: var(--white);
      }
      

      &__navigation {
            list-style-type: none;
            margin-bottom: 16.9rem;

            @include responsive (no-desktop) {
                  margin-bottom: 2rem;

            }

            &__link:not(:first-child), &__link:not(:last-child) {
                  &,
                  &:link,
                  &:visited {
                        padding-top: 1rem;
                        padding-bottom: 1rem;

                        @include link;
                  }
            }

            &__link:first-child, &__link:last-child {
                  &,
                  &:link,
                  &:visited {
                        @include link;

                  }
            }

      }

      .logo-box {
            
            @include responsive (no-desktop) {
                  width: 100%;
            }
      }

}

.navbar {
      opacity: 0;
      visibility: hidden;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      width: 0%;

      background-color:var(--white);

      z-index: 99999;

      transition: all .6s ease;



      &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0rem 3rem;
      }

      &__nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;

            margin-top: 5.6rem;

           
      }

      &__item {
            width: 50%;
            display: inline-block;

            margin: 0 auto;
      }

      &__link {
            text-decoration: none;
            padding: 1rem 3rem;
            width: 100%;
            display: inline-block;
            color: var(--gray-2);
            font-size: 2.4rem;
      }
}

.navbar__close {
      align-self: center;

      cursor: pointer;

      margin-top: 5.6rem;

      @include responsive (phone) {
            margin-top: 3.4rem;
      }

      @media only screen and (max-width:21.875em) {
            margin-top: 4.6rem;
      }
}

.show {
      opacity: 1;
      visibility: visible;
}

.hide {
      opacity: 0;
      visibility: hidden;
}

.material-icons.white {
      color: var(--white);
      font-size: 3rem;
}