.header-navigation {
      list-style-type: none;
      display: flex;

      justify-items: center;
      align-items: flex-start;

      line-height: 3.6rem;

      align-self: flex-start;

      height: 3.6rem;

      margin-top: 5.1rem;


      &__list {
           
            height: 100%;
           
            &:not(:last-child) {
                  margin-right: 2rem;

            }

      }

      &__link {

            &,
            &:link,
            &:visited{
                  display: inline-block;
                  padding: 0rem 1.5rem;
                  height: 100%;
                  text-decoration: none;
                  font-size: 1.8rem;
                  font-weight: $fw-medium;

                  color: var(--gray-1);

                  text-transform: capitalize;


            }
      }
}

.modified--link-padding-right {

      &,
      &:link,
      &:visited {
            padding-right: 0rem;
      }

}
.modified--link-padding-left {
      &,
      &:link,
      &:visited {
            padding-left: 0rem;
      }
}


.footer {

      @mixin link {
            font-size: 1.8rem;
            line-height: 3.6rem;
            font-weight: 400;
            text-decoration: none;
            color: var(--white);
      }
      

      &__navigation {
            list-style-type: none;
            margin-bottom: 16.9rem;

            &__link:not(:first-child), &__link:not(:last-child) {
                  &,
                  &:link,
                  &:visited {
                        padding-top: 1rem;
                        padding-bottom: 1rem;

                        @include link;
                  }
            }

            &__link:first-child, &__link:last-child {
                  &,
                  &:link,
                  &:visited {
                        @include link;

                  }
            }

      }
}