.cta {

      &-box {
            width: 25.6rem;
            height: 2.7rem;

            &--sm {
                  width: 17.2rem;
                  height: 2.1rem;

                  margin-bottom: .9rem;

                  @media only screen and (max-width: 25em) {
                        margin-top: 2.1rem !important;
                  }
            }
      }
      &,
      &:link,
      &:visited {
            display: inline-block;
            color: var(--blue);
            text-decoration: none;
            font-size: 1.8rem;
            line-height: 2.4rem;
            font-weight: $fw-medium;
      }

      &--sm {
            &,
            &:link,
            &:visited{
                  font-size: 1.4rem;
                  font-weight: $fw-small;
                  color: var(--gray-3);

            }

      }
}



.button {
      border: none;
      outline: none;
      font-size: inherit;
      font-family: inherit;
      color: var(--white);
      display: block;
      width: 9.2rem;
      height: 4.9rem;

      position: absolute;

      top: 4px;
      right: 4px;
      bottom: 4px;
      background-color: var(--blue);
      padding: 1rem 5rem;
      padding-left: 3rem;
      text-align: center;
      border-radius: 12px;

      cursor: pointer;

}

.btn {
      &,
      &:link,
      &:visited {
            color: var(--blue);
            text-decoration: none;
      }

      &--animate {
            width: 11.3rem;
            display: flex;
            align-items: center;

            @include responsive (no-desktop) {
                  font-size: 1.8rem;
            }
      }

      span {
            margin-left: 1rem;
            width: 1.6rem;
            height: .7rem;
            align-self: center;
            margin-top: -.6rem;
            transition: all .5s;
      }

      .material-icons.icon__sm {
            font-size: 1.4rem;
      }

      &:focus > span {
           animation: move-left 1s infinite;
      }

      &:focus {
            animation: pulsate 1s infinite;
      }
}
