.btn {
  display: inline-block;
  font-family: var(--Poppins);
  font-size: var(--size-m);
  font-style: normal;
  font-weight: vra(--weight-md);
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-gray-3);
  text-decoration: none;
  padding: calc(var(--span-xs) + 5px) var(--span-xs);
  border-radius: 12px;
  transition: 300ms;

  &--get-started {
    margin-top: var(--span-m);
    background: var(--button);
    transition: 300ms;
    @media only screen and (max-width: 600px) {
      font-size: var(--size-s);
      line-height: 23px;
    }
    @media only screen and (hover: none) {
      background: var(--blue);
      color: var(--white);
    }
  }
}

.see-more {
  display: flex;
  align-items: center;
  font-family: var(--Poppins);
  font-size: var(--size-l);
  font-style: normal;
  font-weight: var(--weight-md);
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--blue);
  text-decoration: none;
  @media only screen and (max-width: 600px) {
    font-size: calc(var(--size-m) + 2px);
    line-height: 27px;
  }

  span {
    display: flex;
    align-items: center;
  }
  svg {
    width: 32px;
    height: 24px;
    fill: var(--blue);
  }
}
