.form {
      width:35rem;
      height: 5.7rem;

      @include responsive (no-desktop ) {
            width: 100%;
      }

      &__label {
            display: none;
      }

      &-group {
            width: 100%;
            height: 100%;
            position: relative;

            @media only screen and (max-width: 767px) {
                  width: 90%;
                  height: 5.9rem;
            }

      }

      &__input {
            width: 100%;
            height: 100%;
            display: block;
            background-color: var(--gray-6);
            font-family: inherit;
            font-size: 1.8rem;
            border-radius: 12px;
            color: var(--gray-1);

            padding: 1.5rem 2.1rem;

            border: 1px solid var(--gray-6);
            outline: none;

            &:focus {
                  outline: none;
                  border: 1px solid var(--gray-6);
            }

            @media only screen and (max-width: 767px) {
                  padding-left: 1.9rem;
                  padding-right: 1.9rem;
            }

            
      }
}

::-webkit-input-placeholder {
      color: var(--gray-4);
}