.gallery {
      backface-visibility: hidden;

      &__header {
            width: 44.8rem;
            backface-visibility: hidden;

            @media only screen and (max-width: 767px) {
                 margin-bottom: 4.8rem;
             }
       
            @media only screen and (max-width:25em) {
                 width: 30rem;
            }
      }

      &__box {
            backface-visibility: hidden;


            &--1 {
                  margin-top: 18.8rem;

                  @include responsive (no-desktop) {
                        margin-top: 8rem;
                        margin-bottom: 2rem;
                  }
            }
            &--2 {

                  @include responsive (no-desktop) {
                        margin-top: 8rem;
                        margin-bottom: 2rem;
                  }
                  
            }
            &--3 {
                  margin-top: 10.6rem;
                  @media only screen and (max-width: 767px) {
                        margin-top: 8rem;
                        margin-bottom: 2rem;
                  }
            }
            &--4 {
                  margin-top: -2rem;

                  @include responsive (no-desktop) {
                        margin-top: 8rem;
                  }
            }
            cursor: pointer;
            transition: transform .3s ease;

            &:hover {
                  transform: scaleX(1.03) scaleY(1.03);
            }
            
      }

      &__image-box {
            backface-visibility: hidden;
            width: 100%;
            border-radius: 12px;
            overflow: hidden;

            cursor: pointer;

            @media only screen and (max-width: 767px) {
                  width: 80%;
                  margin: 0 auto;
             }
       
      }

      &__image {
            backface-visibility: hidden;
            width: 100%;
            height: 100%;
            display: block;

            object-fit: cover;

      }

      &__info {
            margin-top: 2rem;
            backface-visibility: hidden;

            @media only screen and (max-width: 767px) {
                  width: 80%;
                  margin-right: auto;
                  margin-left: auto;
            }
      }

      &__text {
            font-size:1.4rem ;
            font-weight: 300;
            color: var(--gray-3);
            line-height: 2.1rem;
            backface-visibility: hidden;

            @include responsive (no-desktop) {
                  margin-bottom: 2.4rem;
                  font-size: 2.4rem;
            }
      }
}

