.heading-primary {
      font-size: 4.8rem;
      font-weight: $fw-medium;
      line-height: 7.2rem;
      color: var(--gray-1);

      @include responsive (phone) {
           font-size: 3.6rem;

           width: 75%;
      }

      @media only screen and (max-width:400px) {
            font-size: 3.4rem;
            width: 60%;

            line-height: 3.6rem;
      }
}

.paragraph {
      color: var(--gray-2);
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.7rem;
}

.heading-secondary {
      font-size: 3.6rem;
      font-weight: 500;
      width: 100%;
      height: 100%;
      color: var(--gray-1);

      &--sub {
            line-height: 5.6rem;
            width:85%;
      }

      &--team {
            line-height: 5.4rem;
            width: 80%;

            margin-bottom: 1.4rem;

            @include responsive (tablet-landscape) {
                  width: 100%;
            }

            @include responsive (small-desktop) {
                  font-size: 3.6rem;
                  line-height: 3rem;
            }

            @include responsive (no-desktop) {
                  font-size: 8rem;

                  line-height: 9rem;
            }

            @include responsive (phone) {
                  font-size: 6rem;
            }
      }

      &--review {
            width: 75%;
            line-height: 5.4rem;

            @include responsive (tablet-landscape) {
                  width: 90%;
            }

            @include responsive (phone) {
                  width: 100%;
            }

            
      }
}

.heading-tertiary {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 3.6rem;
      color: var(--gray-1);

      @include responsive (no-desktop) {
            font-size: 3.4rem;
      }
}

.heading-quart {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.7rem;
      color: var(--red);

      margin-bottom: .7rem;

      @include responsive (no-desktop) {
            font-size: 3.8rem;
      }
}

.team__text {
      color: var(--gray-2);
      font-size: 1.6rem;
      line-height: 2.4rem;
      width: 80%;

      @include responsive (tablet-landscape) {
            width: 100%;
      }

      @include responsive (no-desktop) {
            font-size: 3.6rem;

            line-height: 6.4rem;

            margin-bottom: 3.6rem;
      }
}

