.u-ml-md {
      margin-left: 27.7rem !important;
}

.u-mr-hg {
      margin-right: 90.7rem !important;
}
.u-mt-xs {
      margin-top: 4.2rem !important;
}

.u-mb-xs {
      margin-bottom: 4.2rem !important;
}

.u-mb-hg {
      margin-bottom: 40rem !important;
}