.u-ml-md {
      margin-left: 27.7rem !important;

      @include responsive (small-desktop) {
            margin-left: 10rem !important;
      }

      @include responsive (no-desktop) {
            margin-left: 4rem !important;
      }
      @include responsive (phone) {
            margin-left: 2rem !important;
      }
      @media only screen and (max-width:25em) {
            margin-left: 0 !important;
      }
}

.u-mr-hg {
      margin-right: 90.7rem !important;
}
.u-mt-xs {
      margin-top: 4.2rem !important;

      @media only screen and (max-width:767px) {
            margin-top: 3.3rem !important;
      }
      @media only screen and (max-width:25em) {
            margin-top: 0 !important;
      }
}
.u-mt-md {
      margin-top: 4.6rem !important;
      
}
.u-mb-xs {
      margin-bottom: 4.2rem !important;
      @media only screen and (max-width:767px) {
            margin-top: 2.2rem !important;
      }

      @media only screen and (max-width:25em) {
            margin-bottom: 0 !important;
      }
}

.u-mb-hg {
      margin-bottom: 40rem !important;
}

.u-ml-shg {
      margin-left: 110rem !important;

      @include responsive (tablet-landscape) {
            margin-left: 90rem !important;
      }
      @include responsive (small-desktop) {
            margin-left: 65rem !important;
      }

      @include responsive (no-desktop) {
            margin-left: 6rem  !important;
      }
}

.u-mt-n-sm {
      margin-top: -.5rem !important;
      @include responsive (no-desktop) {
            margin-top: 10rem !important;
      }
}

.md-u-ml {
      margin-left: 10rem !important;
      @media only screen and (max-width:768px) {
            margin-left: 0rem !important;
      }

      @media only screen and (max-width: 767px) {
           margin-left: 4.9rem !important;
      }

      @include responsive (phone) {
            margin-left: 6rem !important;
      }
      @media only screen and (max-width:25em) {
            margin-left: 0 !important;
      }
}


.u-mr-n-ml-sm {

      @media only screen and (max-width: 767px) {
            margin-left: 4.9rem !important;
            margin-right: 0  !important;
       }
 
      
}

// .u-mx {
//       margin-right: 2rem !important;
//       margin-left: 2rem !important;
// }