@mixin root {
      :root {
            // GRAY color
            --gray-1:#333333;
            --gray-2: #4f4f4f;
            --gray-3: #828282;
            --gray-5: #E0E0E0;
            --gray-4: #BDBDBD;
            --gray-6: #f2f2f2;

            // primary color

            --blue: #2D9CDB;

            --white: #FFFFFF;
            --green: #27Ae60;
            --red: #EB5757;


            --bg-footer: #100E1D;

      }
}

@mixin responsive($breakpoint) {
      @if $breakpoint == phone {
            @media only screen and (max-width:37.5em) {
                  @content;
            }
      }
       @if $breakpoint == no-desktop {
            @media only screen and (max-width:47.9375em) {
                  @content;
            }
      }
      @if $breakpoint == tablet-portrait {
            @media only screen and (max-width:56.25em) {
                  @content;
            }
      }
      @if $breakpoint == small-desktop {
            @media only screen and (max-width:61.875em) {
                  @content;
            }
      }
      @if $breakpoint == tablet-landscape {
            @media only screen and (max-width:75em) {
                  @content;
            }
      }   
      @if $breakpoint == big-desktop {
            @media only screen and (min-width:112.5em) {
                  @content;
            }
      }
}